{# templates/canciones/index.html.twig #}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Canciones</title>
</head>
<body>
    <div id="root"></div>
    <script src="{{ asset('build/app.js') }}"></script>
</body>
</html>
