{% extends 'base.html.twig' %}

{% block title %}Buscar producto
{% endblock %}

{% block body %}
	<h1>Crea un producto</h1>
	{{form(form)}}
		<br>
		<a href="{{ path('app_home') }}">Volver al inicio</a>
	{% endblock %}
