{% extends 'base.html.twig' %}

{% block title %}Detalles del Producto
{% endblock %}

{% block body %}
	<style>
		table * {
			border: 1px black solid;
		}
	</style>
	<div class="fon position-absolute top-50 start-50 translate-middle">
		<h1>Detalles del Producto</h1>
		<table>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Descripción</th>
				<th>Precio</th>
			</tr>
			<tr>
				<td>{{ producto.id }}</td>
				<td>{{ producto.nombre }}</td>
				<td>{{ producto.descripcion }}</td>
				<td>{{ producto.precio }}</td>
			</tr>
		</table>
	</div>
{% endblock %}
