<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi aplicación{% endblock %}</title>
    <!-- Agrega aquí tus etiquetas de estilo -->
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    <!-- Agrega aquí tus scripts JavaScript -->
    {% block javascripts %}{% endblock %}
</body>
</html>