
/* NAVIGATION */ 
#menuNav input {
    padding: 8px;
    margin: 0 5px;
    color: white;
    background-color: #555; /* Button background color */
    border: none;
    cursor: pointer;
}

#menuNav input:hover {
    background-color: red; /* Changes the background color when hovering over buttons */
}

/* TABLAS */

table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px; /* Adjusts the spacing between the form and the table as needed */
}

table, th, td {
    border: 1px solid #333; /* Table and cell border color */
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333; /* Header cell background color */
    color: white;
}

/* FORMS */

input[type="submit"]:hover {
    color: aliceblue;
    background-color: green; /* Changes the color when hovering over the button */
}

